<div class="form-left-col">
    <label>Id:</label>
    <input id="recipeId" name="recipeId" type="text" value="<%= recipeId %>" disabled />

    <label>Title:</label>
    <input type="text" id="title" name="title" value="<%= title %>" required/>

    <label>Description:</label>
    <input type="text" id="description" name="description" value="<%= description %>"/>

    <label>url:</label>
    <input type="text" id="url" name="url" value="<%= url %>"/>

    <label>Notes:</label>
    <input type="text" id="notes" name="notes"  value="<%= notes %>"/>
    
    <button class="save">Save</button>
    <button class="delete">Delete</button>
</div>
